.container
	.row
		.col-md-12
			%h1 Crear una aplicación web con las siguientes características:
		.col-md-6
			.jumbotron{style: "min-height: 350px;"}
				%h2 Marcas
				%li El usuario puede crear una marca. Las marcas solo tienen nombre. Mostrar un error si el usuario no ha puesto ningún nombre.
				%li El usuario puede ver una lista con las marcas existentes.
				%li El usuario puede editar una marca.
				%li El usuario puede borrar una marca. Que se muestre una alerta preguntando a el usuario si está seguro de que quiere borrar la marca antes de hacerlo.
		.col-md-6
			.jumbotron{style: "min-height: 350px;"}
				%h2 Productos
				%li El usuario puede crear un producto. Los productos se componen de: nombre, marca (seleccionarla de una lista de las marcas que se crearon anteriormente), descripción y precio.
				%li Mostrar un error si el producto no tiene nombre o el precio es mayor a 100.
				%li El usuario puede ver una lista de productos existentes. Mostrar el total de la suma de todos los precios de los productos.
				%li El usuario puede editar un producto.
				%li El usuario puede borrar un producto.
		.col-md-12
			%p.text-center
				Puntos extra
				Utiliza getbootstrap.com para que el proyecto se vea bien.
				Agrega algunas pruebas para tu código.
				Mucha suerte y esperamos ansiosamente tu entrega.